@media screen and (min-width: 48.06144rem) {
    html {
      font-size: 62.5%;
      background-color: rgb(196, 196, 196);
    }

    body {
    max-width: 144rem;
    max-height: auto;
    font-size: 1.6rem;
  }
  
  #top-menu {
    display: flex;
  }

  #top-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  #top-menu ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 8.7rem;
  }

  #top-menu a {
    text-decoration: none;
    width: 6.3rem;
    height: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: #344563;
  }

  .logo button {
    display: none;
  }

  #landing-page {
    min-width: 144rem;
    min-height: 91.6rem;
  }

  .main-info {
    max-width: 139.74rem;
    max-height: 72.146rem;
    background-image: url("./images/dt-bg.jpg");
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin: 6.3rem  0.8rem 7.654rem 3.46rem;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .main-info h2 {
    width: 92rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 22.1rem;
  }

  #break1 {
    display: none;
  }

  .info-break {
    display: block;
  }

  .my-info {
    width: 92rem;
    max-height: 9.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5.5rem;
    margin-left: 0;
  }

  .contact-info {
    width: 92rem;
    height: 5.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 24rem;
  }

  .project-list {
    display: grid;
    border: 3px dotted red;
    
    max-height: 269.4rem;
    min-width: 144rem;
    grid: 1fr;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding:  14.2rem;
  }

  .project1 {
    width: auto;
    height: auto;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    width: 115.6rem;
    height: 49.6rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

  }

  .project2 {
    width: auto;
    height: auto;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    width: 115.6rem;
    height: 49.6rem;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;

  }
  .project3 {
    width: auto;
    height: auto;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    width: 115.6rem;
    height: 49.6rem;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;

  }
  .project4 {
    width: auto;
    height: auto;
    border: 1px solid red;
    padding: 0;
    margin: 0;
    width: 115.6rem;
    height: 49.6rem;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;

  }

  .project-list img {
    width: 54.4rem;
    height: 44.8rem;
    padding: 2.4rem;
  }

  .about {
    min-width: 144rem;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding-bottom: 100%;

  }

  footer {
    padding-top: 7.115625em;
    width: 144rem;
    
  }

  #contact-form {
    justify-content: space-evenly;
    align-items: center;
    width: 80.1rem;
    height: 57.7rem;
    padding: 12.7rem 31.9rem;
  }

  .input-item {
    margin-bottom: 2.7rem;
    width: 44.7rem;
    border-radius: 0.2rem;
  }

  .input textarea {
    margin-bottom: 2.7rem;
    width: 44.7rem;
    height: 17rem;
    border-radius: 0.2rem;
    border-style: none;
  }

  .input button {
    width: 14rem;
    height: 4.8rem;
    border-style: none;
    border-radius: 0.8rem;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.4rem;
    color: #6070ff;
    margin-bottom: 4.5rem;
    padding-bottom: 0;
  }

  .dt-br {
    display: block;
  }

}