@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
html {
  background-color: rgba(229, 229, 229, 0.3);
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  padding: 0;
}

.project-list img {
  width: 29.5rem;
  height: 22rem;
  border-radius: 8px;
}

.contact-icons2 img {
  width: 4rem;
  height: 4rem;
}

.resume {
  text-decoration: none;
  color: rgba(57, 109, 242, 1);
  width: 12.4rem;
  height: 4.8rem;
  font-weight: 500;
  border: 0.1rem solid rgba(57, 109, 242, 1);
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.7rem;
  line-height: 2.4rem;
}

.resume:hover {
  background: #6070ff;
  box-shadow: 0 0.8rem 1.6rem rgba(64, 83, 252, 0.24);
  color: #fff;
  cursor: pointer;
}

.resume:active {
  color: rgba(255, 255, 255, 1);
  background: #2230d2;
}


.technical-details img {
  width: 30.3rem;
  height: 6.672rem;
}

.dropdown img {
  height: 2.4rem;
  width: 2.4rem;
}

#landing-page {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  width: 37.5rem;
  height: 71.8rem;
  border-bottom-left-radius: 7.9rem;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10rem 2.4rem 1.2rem 2.4rem;
  background-image: url("./icons/background.jpg");
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem 0;
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  box-sizing: border-box;
  padding-top: 2.5rem;
}

.logo a {
  text-decoration: none;
  color: rgba(96, 112, 255, 1);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

.menu-items {
  list-style: none;
  position: absolute;
  top: -100%;
  color: rgba(255, 255, 255, 1);
  mix-blend-mode: multiply;
  background-color: #6070ff;
  width: 100%;
  height: 76.5%;
  z-index: 1;
  margin: 0;
}

.navigation-link a {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  line-height: 54px;
  font-weight: 500;
  opacity: 1;
  mix-blend-mode: normal;
}

.bar {
  background-color: rgba(96, 112, 255, 1);
  width: 21px;
  height: 4px;
  margin: 2px;
  border-radius: 9px;
  z-index: 3;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  width: 20px;
  margin-right: 12px;
  z-index: 3;
  height: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-icon.active .bar:nth-of-type(1) {
  transform: translateX(7px) translateY(-10px) rotate(45deg) scale(0.5);
  background-color: white;
  opacity: 1;
  width: 4px;
}

.menu-icon.active .bar:nth-of-type(2) {
  visibility: hidden;
}

.menu-icon.active .bar:nth-of-type(3) {
  transform: translateX(7px) translateY(-90px) rotate(-45deg) scale(0.5);
  opacity: 1;
  background-color: white;
  width: 4px;
}

.contact-icons {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 17.017rem;
  list-style-type: none;
  padding-bottom: 0;
  padding-left: 0;
  transition-delay: 0s;
  transition-duration: 0.2s;
}

.contact-icons img {
  width: 2rem;
  height: 2rem;
}

.contact-icons img:hover,
.contact-icons2 img:hover {
  transform: rotate(-5.18deg) scale(1.2);
}

#peace img {
  width: 1.417rem;
}

#github img {
  width: 1.799rem;
}

#m img {
  height: 1.6rem;
}

.main-info h2 {
  display: flex;
  width: 100%;
  height: 15rem;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 4rem;
  font-style: normal;
  line-height: 5.2rem;
  color: rgba(23, 43, 77, 1);
  margin: 0;
  padding: 0 0 1.2rem 0;
}

.my-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 14.6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.my-info p {
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(52, 69, 99, 1);
  font-style: normal;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

.contact-info h3 {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: 0;
  margin-bottom: 1.2rem;
  color: rgba(127, 140, 255, 1);
}

#projects {
  width: 37.5rem;
  height: 391.3rem;
  margin: 0;
  padding: 0;
  background-color: rgba(229, 229, 229, 0);
  box-sizing: border-box;
}

.canopy1 {
  color: #344563;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-right: 1.2rem;
  margin: 0;
}

.canopy2 {
  color: #344563;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-right: 1.2rem;
  margin: 0;
}

.canopy4 {
  color: #344563;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-right: 1.2rem;
  margin: 0;
}

.canopy3 {
  color: #344563;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding-right: 1.2rem;
  margin: 0;
}

.not-canopy1 {
  font-family: 'poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0;
  color: #7a869a;
  padding: 0.5rem 1.2rem 0;
  margin: 0;
}

.not-canopy2 {
  font-family: 'poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0;
  color: #7a869a;
  padding: 0.5rem 1.2rem 0;
  margin: 0;
}

.not-canopy3 {
  font-family: 'poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0;
  color: #7a869a;
  padding: 0.5rem 1.2rem 0;
  margin: 0;
}

.not-canopy4 {
  font-family: 'poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0;
  color: #7a869a;
  padding: 0.5rem 1.2rem 0;
  margin: 0;
}

.highlights {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.project-list {
  display: grid;
  background-color: rgba(229, 229, 229, 0.05);
  row-gap: 8.8rem;
  height: 279.2rem;
  width: 100%;
  padding: 11.4rem 2.4rem;
  justify-content: center;
  align-items: center;
  grid-auto-flow: row;
  box-sizing: border-box;
}

.project1 {
  width: 32.7rem;
  height: 55.2rem;
  border: 1px solid rgba(223, 225, 230, 1);
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem;
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 1.6rem;
  background-color: rgba(255, 255, 255, 1);
}

.project3 {
  width: 32.7rem;
  height: 55.2rem;
  border: 1px solid rgba(223, 225, 230, 1);
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem;
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 1.6rem;
  background-color: rgba(255, 255, 255, 1);
}

.project2 {
  width: 32.7rem;
  height: 59.6rem;
  border: 1px solid rgba(223, 225, 230, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem;
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 1.6rem;
}

.project4 {
  width: 32.7rem;
  height: 59.6rem;
  border: 1px solid rgba(223, 225, 230, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem;
  box-sizing: border-box;
  flex-direction: column;
  flex: 1 1 auto;
  border-radius: 1.6rem;
}

.project1 h2 {
  font-family: "poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0;
  text-align: left;
  height: 3.6rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  color: rgba(23, 43, 77, 1);
}

.project3 h2 {
  font-family: "poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0;
  text-align: left;
  height: 3.6rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  color: rgba(23, 43, 77, 1);
}

.project2 h2 {
  font-family: "poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0;
  text-align: left;
  height: 8rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  color: rgba(23, 43, 77, 1);
}

.project4 h2 {
  font-family: "poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0;
  text-align: left;
  height: 8rem;
  margin-top: 1.2rem;
  margin-bottom: 0;
  color: rgba(23, 43, 77, 1);
}

.project-description {
  display: flex;
  flex: 1 0 none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 37.5rem;
}

.project1-description p {
  color: rgba(52, 69, 99, 1);
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.535rem;
  padding: 0;
  margin: 0;
}

.project2-description p {
  color: rgba(52, 69, 99, 1);
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.535rem;
  padding: 0;
  margin: 0;
}

.project3-description p {
  color: rgba(52, 69, 99, 1);
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.535rem;
  padding: 0;
  margin: 0;
}

.project4-description p {
  color: rgba(52, 69, 99, 1);
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.535rem;
  padding: 0;
  margin: 0;
}

.project1-tech-details ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  max-height: 24px;
  min-width: auto;
  margin: 0;
  padding: 2.3rem 0 2.4rem 0;
}

.project2-tech-details ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  max-height: 2.4rem;
  min-width: auto;
  margin: 0;
  padding: 2.3rem 0 2.4rem 0;
}

.project3-tech-details ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  max-height: 2.4rem;
  min-width: auto;
  margin: 0;
  padding: 2.3rem 0 2.4rem 0;
}

.project4-tech-details ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  max-height: 2.4rem;
  min-width: auto;
  margin: 0;
  padding: 2.3rem 0 2.4rem 0;
}

.lang-buttons button {
  font-family: "poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.03rem;
  text-align: center;
  color: rgba(96, 112, 255, 1);
  border-radius: 0.8rem;
  background-color: #ebebff;
  border: none;
  padding: 0.4rem 1.2rem;
  margin-right: 0.8rem;
}

.skills ul {
  list-style-type: disc;
}

.lang-buttons li,
#pj1-lang-buttons li {
  list-style-type: none;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 2.4rem 0 2.4rem;
  top: 114px;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
  border-top-right-radius: 7.9rem;
  box-sizing: border-box;
}

.my-about h3 {
  text-decoration: none;
  padding-top: 11.3rem;
  margin: 0;
  height: 10.1rem;
  width: 100%;
  font-family: "poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  letter-spacing: 0;
  text-align: left;
  color: rgba(23, 43, 77, 1);
}

.about-myself {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 14.4rem;
}

.about-myself p {
  color: rgba(52, 69, 99, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.contact-info2 h4 {
  display: flex;
  justify-content: flex-start;
  height: 2.4rem;
}

.contact-info2 h4 a {
  text-decoration: none;
  color: #7f8cff;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.contact-icons2 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding-left: 0;
  padding-right: 15.4rem;
  padding-top: 1.2rem;
  align-items: stretch;
}

.contact-icons2 li {
  display: flex;
  align-items: stretch;
  padding: 0;
}

.skills {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  padding: 0;
  padding-bottom: 13rem;
}

.skills .active {
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 3.6rem;
}

.active > span {
  padding-bottom: 3.6rem;
}

.skills .inactive {
  border-bottom: 1px solid rgba(223, 225, 230, 1);
  padding: 1.5rem 0 1.5rem 2rem;
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.frameworks {
  display: grid;
  gap: 0;
  padding-left: 0;
  height: 23.6rem;
  width: 100%;
  justify-content: space-between;
}

.frameworks li {
  list-style-type: none;
}

.droplist {
  width: 30.3rem;
  height: 6.672rem;
}

button:enabled {
  border: 1px solid #7f8cff;
}

button:disabled {
  color: #5e6c84;
  border-color: #5e6c84;
}

button:active {
  color: rgba(255, 255, 255, 1);
  background: #2230d2;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 0.8rem 1.6rem rgba(64, 83, 252, 0.24);
  color: #fff;
}

#submit:hover {
  background: #6070ff;
  box-shadow: 0 0.8rem 1.6rem rgba(64, 83, 252, 0.24);
  color: #fff;
  cursor: pointer;
}

input:invalid {
  border: 1px solid rgb(236, 34, 34);
}

#get-resume {
  text-decoration: none;
  color: rgba(57, 109, 242, 1);
  width: 13.8rem;
  height: 4.8rem;
  font-weight: 500;
  border: 1px solid rgba(57, 109, 242, 1);
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  line-height: 2.4rem;
  padding: 1.2rem 0;
  background-color: #fff;
}

footer {
  padding-top: 1.385rem;
  background-color: rgba(255, 255, 255, 1);
  font-family: "poppins", sans-serif;
  width: 37.5rem;
  margin: 0;
}

#contact-form {
  max-height: 77.9rem;
  border-top-left-radius: 7.9rem;
  background: rgba(96, 112, 255, 1);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  background-image: url(./images/contact-form-bg.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 37%;
}

#contact-form h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  font-size: 4rem;
  color: rgba(255, 255, 255, 1);
  line-height: 5.2rem;
  padding: 10.3rem 0 1.2rem 0;
  margin: 0;
}

#contact-form p {
  font-style: normal;
  font-size: 2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 0 1.1556rem 2.6964rem;
  margin: 0;
}

#top-menu {
  display: none;
}

.input {
  display: flex;
  width: 32.7rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 2.4rem;
}

.input-item {
  margin-bottom: 2rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border-style: none;
}

.input textarea {
  margin-bottom: 2.2rem;
  height: 8.1855rem;
  border-radius: 0.8rem;
  border-style: none;
}

.input button {
  width: 14rem;
  height: 4.8rem;
  border-style: none;
  border-radius: 0.8rem;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.4rem;
  color: #6070ff;
  margin-bottom: 4.5rem;
  padding-bottom: 0;
}

::placeholder {
  padding: 0.7704rem;
  font-family: "poppins", sans-serif;
}

#svg-1 {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  left: 15.3rem;
  top: 469.2rem;
}

#svg-2 {
  position: absolute;
  width: 12.47rem;
  height: 3.721rem;
  left: 28.9rem;
  top: 466.14rem;
  transform: rotate(-5.18deg);
}

#svg-3 {
  position: absolute;
  width: 9rem;
  height: 7.9rem;
  left: 30.8rem;
  top: 468.575rem;
}

#svg-4 {
  position: absolute;
  width: 6.917rem;
  height: 9.363rem;
  left: 24.88rem;
  top: 520.3rem;
  transform: matrix(0.5, 0.6, 0.5, -0.5, 1);
}

#svg-5 {
  position: absolute;
  width: 2.711rem;
  height: 2.711rem;
  left: 25.074rem;
  top: 524.76rem;
}

.info-break {
  display: none;
}

.dt-br {
  display: none;
}

.dt-br1 {
  display: block;
}

.frameworks-alt {
  display: none;
}

#pj3-alt {
  display: none;
}

.canopy-alt {
  display: none;
}

.not-canopy-alt {
  display: none;
}

.project4-description-alt-p {
  display: none;
}

.pj4-alt-lang-button {
  display: none;
}

#pj1-h2-alt {
  display: none;
}

#pj2-h2-alt {
  display: none;
}

.project1-description-alt-p {
  display: none;
}

.project2-description-alt-p {
  display: none;
}

#get-resume:hover {
  background-color: #6070ff;
  color: rgba(255, 255, 255, 1);
}

#pj1 {
  position: absolute;
  height: 71.3rem;
  top: 10px;
  z-index: 2;
  box-sizing: inherit;
  padding: 0 0 1.6rem 1.6rem;
  margin: 1.6rem;
  border: 2px solid red;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

#pj1-h2 {
  font-family: "poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0;
  text-align: left;
  height: 3.6rem;
  margin-top: 1.2rem;
  margin-bottom: -0.2rem;
  color: rgba(23, 43, 77, 1);
  opacity: 1;
}

#pj1 img {
  width: 96%;
  height: auto;
  align-self: flex-start;
}

.project1-description-p {
  width: 98%;
  margin-top: -1.5rem;
  font-size: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

#link-buttons {
  display: flex;
  justify-content: space-around;
  width: 96%;
  padding-top: 1.6rem;
  margin: 0;
}

#source-btn {
  display: flex;
  justify-content: space-around;
  width: 45%
}

#live-btn {
  display: flex;
  justify-content: space-around;
  width: 45%
}

#divider {
  border-bottom: 1px solid #ebecf0;
  width: 95%;
}

#pj1-lang-buttons {
  width: 70%;
  justify-content: space-between;
  margin-top: -3.9rem;
}

#pj1-lang-buttons button {
  font-size: 12px;
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  line-height: 16px;;
  text-align: center;
  color: rgba(96, 112, 255, 1);
  border-radius: 0.8rem;
  background-color: #ebebff;
  border: none;
  letter-spacing: 0.06rem;
  padding: 0.5rem 1.5rem;
}

#close-btn {
  position: absolute;
  font-size: 30px;
  right: 2rem;
  top: 1.8rem;
  font-family: 'comfortaa', cursive;
  color: #67798e;
  opacity: 0.8;
  cursor: pointer;
  transform: scaleX(1.3) scaleY(1.3);
}